#root {
  margin: 0 auto;
  text-align: center;
}

.paper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title
{
  margin-bottom: 20%;
}


.button
{
  width: 250px;
}

@media only screen and (max-width: 600px) {

  .container {
    width: 100vw;
  }
}
